* {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

body {
	background-color: #FFFFF;
}

#tabletop {
	background-color: #F0F0F0;
	border: #A0A0A0;
	height: 768px;
	left: 50%;
	overflow: hidden;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 1024px;
}

#board-container {
	position: relative;
	width: 100%;
    height: 100%;
}

#game {
	height: 800px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 1200px;
	border-left: 1px solid #A0A0A0;
	border-right: 1px solid #A0A0A0;
}

#ui {
	position: relative;
	top: -16px; 
	left: 96px;
	width: 50%;
	z-index: 1;
	> #active-pj-photo {
		background-color: #F0F0F0;
		border: 1px solid #999;
		display: inline-block;
		width: 64px;
		height: 64px;
		border-radius: 64px;
	}
	> #ui-items {
		list-style: none;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		display: inline;
		position: relative;
		top: -8px;
		> li {
			display: inline-block;
			margin: 0 0 0 8px;
			cursor: pointer;
			width: 48px;
			height: 48px;
			background-color: #FFF;
			border-radius: 5px;
			border:1px solid #666;
		}
	}
}


#inner-board-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    /*will-change: perspective;
	-webkit-perspective: 300px;
       -moz-perspective: 300px;
    perspective-origin: 50%, 50%;
	-webkit-perspective-origin: 50%, 50%;*/
	transition: all 0.5s linear;
	//overflow: auto;
	//border: 1px solid red;
	transform: translateY(-24px) rotateX(45deg) rotateY(0deg) rotateZ(45deg);
}

#board {
	background: #653028 url('../img/floor.svg') repeat top left;
	background-size: 48px;
	display: block;
	position: absolute;
	width: 100%;
    height: 100%;
    /*top: calc( 768px / 2);
    left: calc(1024px / 2);*/
    will-change: transform;
	//transform: rotateX(45deg) rotateY(0deg) rotateZ(45deg);
	transform-style: preserve-3d;
	transform-origin: top left;
	-webkit-perspective: 0px;
       -moz-perspective: 0px;
    transition: all 0.5s linear;
}

.pj {
	cursor: pointer;
	height: 48px;
	position: absolute;
	width: 16px;
	z-index: 10;
	transform: translateY(-24px);
	transform-origin: top left;
	transition: all 0.5s linear;
	&#barbarian {
		background-color: rgba(red, 0.8);
		border: 1px solid red;
		top: 0px;
		left: 288px;
	}
	&#mage {
		background-color: rgba(blue, 0.8);
		border: 1px solid blue;
		top: 0;
		left: 576px;
	}
}